<!DOCTYPE html>
<html>
  <head>
    <title>Test Method Override</title>
  </head>
  <body>
    <h1>Test Method Override</h1>

    <form action="/admin/test-method-override" method="POST">
      <input type="hidden" name="_method" value="PUT" />
      <input type="text" name="test" value="test value" />
      <button type="submit">Submit PUT Request</button>
    </form>
  </body>
</html>
